body {
    padding-bottom: 60px;
    font-family: Arial, sans-serif;
    background: rgb(196, 196, 196);
}

.container {
    width: 450px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

.produto {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.excluir {
    background: #c9302c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.alterar {
    background: #db9005;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.novo-produto {
    display: block;
    background: #5ca1e1;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.popup-bg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sim {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.sim:hover {
    background-color: #1e7e34;
}

.nao {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.nao:hover {
    background-color: #b02a37; 
}



.estoque-baixo {
    display: inline-block;
    margin-left: 10px;
    padding: 4px 10px;

    background-color: #ff8c00;
    color: white;

    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;

    animation: piscar 1s infinite alternate;
}

@keyframes piscar {
    from { opacity: 1; }
    to { opacity: 0.6; }
}
