body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 450px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

.produto {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.excluir {
    background: #c9302c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.alterar {
    background: #007bdb;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.novo-produto {
    display: block;
    background: #5ca1e1;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.popup-bg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}